{%extends 'base.html'%}

{%block content%}
{{block.super}}
<div class="container">
<h1 class='text-center'> Pixel Collab</h1>


    <!-- Looping through news   -->
    {% for post in posts %}
  
    <div class="row">
      <!-- displaying News articles -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
        <h2 class="text-center"> name:{{ post.image_name}} </h2>
        <h2 class="text-center"> description:{{ post.description }} </h2>
        <h2 class="text-center"> location:{{ post.location }} </h2>
        <h2 class="text-center"> category:{{ post.category }} </h2>

      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <img src="{{post.image.url}}" class="img-responsive" alt="Image">
      </div>
  
    </div>
    
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No posts</h2>
    </div>
    {% endfor %}
  
  </div>

{%endblock%}

